.sidestbar {
  box-shadow: $sidestbar-box-shadow;

  .sidestbar-brand {
    color: $dark;
    @include font-size($font-size-sm);
  }
  .nav-link {
    color: $dark;
    padding: $sidestbar-nav-link-padding;
    font-weight: $font-weight-normal;
    font-size: $font-size-sm;
  }

  &.sidestbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &.sidestbar-transparent {
    .nav-link {
      &, i {
        color: $white;
      }


      &:hover,
      &:focus {
        color: rgba($white, .75);
      }
    }

    .sidestbar-toggler {
      .sidestbar-toggler-icon {
        .sidestbar-toggler-bar {
          background: $white;
        }
      }
    }

    .sidestbar-collapse{
      border-radius: $border-radius-xl;
    }
  }

  &.sidestbar-dark {
    .sidestbar-collapse.show,
    .sidestbar-collapse.collapsing
    {
      .dropdown-header.text-dark{
        color: $white !important;
      }
    }
  }
  .sidenavbar-toggler-inner{
    width: $sidenavbar-toggler-width;
    .sidenavbar-toggler-line{
      transition: $sidenavbar-toggler-line-transition;
      background: $body-color;
      border-radius: $border-radius-xs;
      position: relative;
      display: block;
      height: $sidenavbar-toggler-line-height;
      &:not(:last-child){
        margin-bottom: $sidenavbar-toggler-line-margin-bottom;
      }
    }
  }
  .g-sidenavbar-show.g-sidenavbar-pinned &{
    .sidenavbar-toggler-inner{
      .sidenavbar-toggler-line:first-child,
      .sidenavbar-toggler-line:last-child {
          width: $sidenavbar-toggler-line-active-width;
          transform: $sidenavbar-toggler-line-transform;
      }
    }
  }
}

.sidestbar-light {
  background-color: $white !important;
  .sidestbar-toggler{
    border: none;
    &:focus{
      box-shadow: none;
    }
  }
}

.sidestbar-toggler {
  .sidestbar-toggler-icon {
    background-image: none;

    .sidestbar-toggler-bar {
      display: $sidestbar-toggler-bar-display;
      position: $sidestbar-toggler-bar-position;
      width: $sidestbar-toggler-bar-width;
      height: $sidestbar-toggler-bar-height;
      border-radius: $sidestbar-toggler-bar-radius;
      background: $gray-600;
      transition: $sidestbar-toggler-bar-transition;
      margin: 0 auto;

      &.bar2,
      &.bar3 {
        margin-top: $sidestbar-toggler-bar-margin-top;
      }
    }
  }

  &[aria-expanded="true"] {
    .sidestbar-toggler-bar {
      &.bar1 {
        transform: $sidestbar-toggler-bar-1-transform;
        transform-origin: $sidestbar-toggler-bar-1-transform-origin;
        margin-top: $sidestbar-toggler-bar-1-margin-top;
      }

      &.bar2 {
        opacity: $sidestbar-toggler-bar-2-opacity;
      }

      &.bar3 {
        transform: $sidestbar-toggler-bar-3-transform;
        transform-origin: $sidestbar-toggler-bar-3-transform-origin;
        margin-top: $sidestbar-toggler-bar-3-margin-top;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  :not(.main-content) .sidestbar {
    .dropdown {
      .dropdown-menu {
        top: 2.25rem !important;

        .dropdown .dropdown-menu {
          top: 0 !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .sidestbar {
    &.sidestbar-transparent {
      .sidestbar-collapse {
        padding-top: $spacer * 0.5;
        padding-bottom: $spacer * 0.5;
      }

      .sidestbar-collapse.collapsing {
        background: $white;
      }

      .sidestbar-collapse.show {
        background: $white;
        .nav-link,
        i {
          color: $dark;
        }
      }
    }

    .g-sidenavbar-show & {
      &:not(.sidenavbar).sidestbar-main {
        .sidestbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }

        .sidestbar-nav {
          flex-direction: row;
        }
      }
    }

    &.sidestbar-transparent {
      .sidestbar-collapse {
        box-shadow: $box-shadow-lg;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .sidestbar-collapse {
    position: relative;

    .sidestbar-nav {
      width: 100%;

      .nav-item {
        &.dropdown {
          position: static;

          .dropdown-menu {
            left: 0;
            right: 0;

            &.show {
              &:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .sidestbar-nav {
    .nav-item {
      &.dropdown {
        .dropdown-menu {
          left: 0;
          right: auto;
        }
      }
    }
  }
}
